BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -4

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<saudade/'
    Priority: 1
  - Regex: '^<Q'
    Priority: 2
  - Regex: '^<pipewire/'
    Priority: 3
  - Regex: '^<spa/'
    Priority: 3
  - Regex: '^<[a-z0-9_]+>'
    Priority: 4
  - Regex: '.*'
    Priority: 5

PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterTemplateKeyword: false
SpaceBeforeRangeBasedForLoopColon: true
SortIncludes: CaseSensitive
FixNamespaceComments: true
